@import '../../../styles/shared.scss';

.comment {
  display: flex;
  margin: 8px 0;
  margin-bottom: 20px;
  line-height: 1.5rem;

  .user-image {
    width: $avatar-diameter;
    height: $avatar-diameter;
    margin-right: $avatar-margin;
    flex-shrink: 0;
  }

  .comment-info {
    margin-bottom: 4px;
    font-weight: 600;

    #user-name {
      font-size: 16px;
    }

    #time-published {
      margin-left: 5px;
      display: inline;
      color: gray;
    }
  }

  .comment-actions {
    margin-top: 4px;
    button {
      margin-left: 8px;
    }
  }
}